version: "3.9"

services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: td-api
    depends_on:
      - db
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=${DATABASE_URL}

  db:
    image: postgres:16
    container_name: td-db
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

  front:                # ← DOIT être ici, à l’intérieur de "services"
    build:
      context: ./front
      dockerfile: Dockerfile
    container_name: td-front
    depends_on:
      - api
    ports:
      - "8080:80"

volumes:
  db_data:
